bind = '{{ gunicorn_bind }}'
workers = {{ gunicorn_workers }}
accesslog = '{{ gunicorn_accesslog }}'
errorlog = '{{ gunicorn_errorlog }}'

reload = {% if gunicorn_reload %}True{% else %}False{% endif %}

loglevel = '{{ gunicorn_loglevel }}'
