bind = '{{ gunicorn_bind }}'
workers = {{ gunicorn_workers }}
accesslog = {% if gunicorn_accesslog %}'{{ gunicorn_accesslog }}'{% else %}None{% endif %}

errorlog = {% if gunicorn_errorlog %}'{{ gunicorn_errorlog }}'{% else %}None{% endif %}

reload = {% if gunicorn_reload %}True{% else %}False{% endif %}

loglevel = '{{ gunicorn_loglevel }}'
