description "Gunicorn upstart script for {{ gunicorn_app_name }}"

{% if gunicorn_start_on_vagrant -%}
start on (vagrant-mounted)
{% else %}
start on (local-filesystems and net-device-up IFACE!=lo)
{% endif %}
stop on shutdown

respawn
setuid {{ gunicorn_user }}
chdir {{ gunicorn_app_dir }}

exec gunicorn --config /etc/gunicorn/{{ gunicorn_app_name }}.py {{ gunicorn_wsgi }}
